{% for node in m.cluster.nodes %}
{% if node.features.data_disks is defined -%}
echo "---- Will build Data disk(s) for node {{node.name}}"
{%     for disk in node.features.data_disks -%}
{{m.os.path.join(m.env_dir,m.env.kvm_script_path)}}/attachDisk.sh --host {{node.host}} --name {{node.vmname}} --size {{disk.size}} --volume {{disk.volume}} --device {{disk.device}}
{%     endfor %}
{% else -%}
echo "---- No Data disk for node {{node.name}}"
{% endif -%}
{% endfor %}

