
{% if m.node.features.data_disks is defined %}
disk_additional_disks:
{% for disk in m.node.features.data_disks %}
- disk: /dev/{{disk.device}}
  fstype: xfs
  mount_options: "defaults,noatime"
  fsopts: ""
  mount: {{ disk.mount }}
{% endfor %}
{% endif %}

